body {
    display: block;
}

button {
    display: block;
    background-color: rgb(141, 123, 104);
    color: rgb(200, 182, 166);
    border-color: rgb(164, 144, 124);
    width: 250px;
    border-radius: 20px;
    border-width: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 60px;
    padding: 15px;
}

.pagebutton {
    width: 80px;
    display: inline;
}

button:hover {
    background-color: rgb(164, 144, 124);
    color: rgb(241, 222, 201);
    border-color: rgb(200, 182, 166);
    transition-duration: 0.3s;
}

#companylist {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tg-theme-text-color);

    h1 {
        font-style: italic;
    }
}

.portfoliocompanyname {
    color: var(--tg-theme-text-color);
    border-bottom-color: var(--tg-theme-text-color);
    margin-bottom: -6px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.portfoliocompanyshares {
    color: var(--tg-theme-text-color);
    font-size: 20px;
}
